body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.296)), url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.nav{
    padding: 20px 100px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}

.header{
    background-color: #73d89059;
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px 60px;
    box-shadow: 0 2px 4px rgba(234, 234, 234, 0.842);

}

.header h1{
    font-size: 30px;
    color: #1be8558b;
    font-weight: 700;
}

.header h2{
    font-size: 26px;
    color: #85b091;
    margin-top: 20px;
}

.header p{
    font-size: 20px;
    color: #85b091;
    margin-top: 50px;
}

.sidebar {
    background-color: #73d89059;
    width: 15%;
    height: 600px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(234, 234, 234, 0.842);

}

.sidebar_button{
    background-color: #73d89059;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: #bdd0c3;
    cursor: pointer;
    transition: 0.5s;

}

.sidebar_button:hover{
    background-color: #1be8558b;
    color: #fff;
}

.first{
    margin-top: 20px;
    margin-bottom: 26px;

}

#sidebar_hr{
    margin-top: 10px;
    margin-bottom: 10px;

}
.content {
    margin-left: 20px;
    width: 85%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(234, 234, 234, 0.842);

    
}

.selected {
    background-color: #1be8558b;
}

.web-page {
    width: 100%;
    height: 100%;
    border: none;
}
