body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.296)), url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.nav{
    padding: 20px 100px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}

.header{
    background-color: #73d89059;
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px 60px;
    box-shadow: 0 2px 4px rgba(234, 234, 234, 0.842);

}

.header h1{
    font-size: 30px;
    color: #1be8558b;
    font-weight: 700;
}

.header h2{
    font-size: 26px;
    color: #85b091;
    margin-top: 20px;
}

.header p{
    font-size: 20px;
    color: #85b091;
    margin-top: 50px;
}



.wrapper{
    background-color: rgba(190, 226, 176, 0.953);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    padding: 20px;
}

.image{
    width:30%;
}

.image img{
    width: 100%;
    border-radius: 8px;
}

.content{
    width: 70%;
}

.content h2{
    margin-bottom: 60px;    
    font-size: 24px;
    color: #101110;
    font-weight: 700;
}

.content p{
    font-size: 18px;
    color: #4f7e5c;
    margin-top: 10px;
    
}